
<head lang="ru">
	<title>TimeBox</title>
	<meta name="viewport" content="width=850, user-scalable=yes">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
	<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"
    />
</head>
<body>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<div class="icons" id="svg">
		<a href="/index">
			<img src="{{url_for('static',filename = 'svgs/home.svg')}}" width="40" height="40"/>
		</a>
	</div>
	<div class="icons" id="svg2">
		<a href="/dashboard">
			<img src="{{url_for('static',filename = 'svgs/LogIn.svg')}}" width="40" height="40"/>
		</a>
	</div>
	{% if "profile" not in data or data['profile'] %}
		<div class="profile" id="mobile">
			<img src="{{data['userData']['img']}}" id="picture" width="60" height="60">
			<p id="nameProfile">{{data['userData']['name']}} {{data['userData']['surname']}}</p>
		</div>
	{% endif %}

	<div class="block">
		{% if data['list'] != [] %}
			<div class="menu">
				{% for i in data['list'] %}
					{% set info = data['pattern'][i] %}
					{% if data['id'] == info['id'] %}
						<a href="{{info['link']}}" class="card"><div id="name" style="{{info['style']}}">{{info['name']}}</div></a>
					{% else %}
						<a href="{{info['link']}}" class="card" style="background: none;box-shadow: 0px 4px 9px rgba(0, 0, 0, 0);"><div id="name" style="{{info['style']}}">{{info['name']}}</div></a>
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}

		{% if data['list'] != [] %}
			<div class="main">
		{% else %}
			<div class="main" style="width:100%">
		{% endif %}
			<div id="title">{{data['pattern'][data['id']]['name']}}</div>
			<div class="partHalf">
				{% if data['pattern'][data['id']]['content']['half'] %}
					<div id="half">
						<img id="smile" src="{{data['userData']['img']}}" width="233" height="233">
						<p id="title">{{data['userData']['name']}} {{data['userData']['surname']}}</p>
					</div>
				{% endif %}
				<form enctype="multipart/form-data" method="POST" action="{{data['way']}}"  id="half" style="width:100%;">
					{% for i in data['pattern'][data['id']]['content']['items'] %}

						{% set bulat = i['type'] %}
						{% autoescape false %}
							{% if bulat == 'title' %}
								<div id="title" style="{{i['content']['style']}}" {{i['arguments']}}>{{i['content']['value']}}</div>

							{% elif bulat == 'subtitle' %}
								<div id="subtitle" style="{{i['content']['style']}}width: auto;flex: none;" {{i['arguments']}}>{{i['content']['value']}}</div>

							{% elif bulat == 'text' %}
								<div id="text" style="{{i['content']['style']}}" {{i['arguments']}}>{{i['content']['value']}}</div>

							{% elif bulat == 'input' %}
								<input type="{{i['content']['type']}}" name="{{i['content']['name']}}" value="{{i['content']['value']}}" {{i['arguments']}}>

							{% elif bulat == 'checkbox' %}
								<div id="point" style="{{i['content']['style']}}">
									{% for a in i['content']['boxes'] %}
										<label>
											<input type="{{i['content']['type']}}" name="{{i['content']['name']}}" value="{{a['id']}}" {{i['arguments']}}>
											{{a['text']}}
										</label>
									{% endfor %}
								</div>

							{% elif bulat == 'button' %}
								<div id="point">
									{% if 'button' in i['content'] %}
										<button type="submit" id="button" style="{{i['content']['button']['style']}}"  {{i['arguments']}}>{{i['content']['button']['value']}}</button>
									{% elif 'a' in i['content'] %}
										<a href="{{i['content']['a']['link']}}" id="button" style="{{i['content']['a']['style']}}"  {{i['arguments']}}>{{i['content']['a']['value']}}</a>
									{% endif %}
								</div>

							{% elif bulat == 'textarea' %}
								<div id="point">
									<textarea id="input" name="{{i['content']['name']}}"
											  placeholder="{{i['content']['placeholder']}}"
											  cols="i['content']['cols']"
											  rows="i['content']['rows']"
											  minlength="{{i['content']['min']}}"
											  maxlength="{{i['content']['max']}}"
											  style="{{i['content']['style']}}" {{ i['arguments'] }}>
										{{i['content']['value']}}
									</textarea>
								</div>

							{% elif bulat == 'multiline' %}
								<div id="point" style="{{i['content']['style']}}">
									<div id="subtitle" style="width: auto;flex: none;">{{i['content']['name']}}:</div>

									{% if "input" in i['content'] %}
										<input id="input"
											   name="{{i['content']['input']['name']}}"
											   type="{{i['content']['input']['type']}}"
											   minlength="{{i['content']['input']['min']}}"
											   maxlength="{{i['content']['input']['max']}}"
											   style="{{i['content']['input']['style']}}" placeholder="{{i['content']['input']['placeholder']}}"
											   value="{{i['content']['input']['value']}}"
											   style="width:50%"
											   {{i['arguments']}}/>
									{% elif "text" in i['content'] %}
										<div id="text" alt="{{i['content']['text']['placeholder']}}" style="{{i['content']['a']['style']}}width: auto;flex: none;" {{i['arguments']}}>{{i['content']['text']['value']}}</div>
									{% endif %}

									{% if 'button' in i['content'] %}
										<button type="submit" id="button" {{i['arguments']}}>{{i['content']['button']['value']}}</button>
									{% elif 'a' in i['content'] %}
										<a href="{{i['content']['a']['link']}}" id="button" {{i['arguments']}}>{{i['content']['a']['value']}}</a>
									{% endif %}

								</div>
							{% endif %}
						{% endautoescape %}
					{% endfor %}

					{% if data['profile'] %}
						<input name="hash" type="hidden" value="{{data['userData']['hash']}}"/>
						<input name="uid" type="hidden" value="{{data['userData']['uid']}}"/>
					{% endif %}

				</form>
			</div>
			{% if 'links' in data %}
				<div id="block">
					{% for i in data['links'] %}
					<a href="{{i['link']}}" id="subtitle">{{i['name']}}</a>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
</body>